[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
regex = ">=2018.2.21"
twython = ">=3.6.0"
"discord.py" = ">=1"

[requires]
python_version = "3.7"
